{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="flex w-1/2 h-screen mx-auto">
    <form method="post" class="flex w-full flex-col m-auto">
        {% if error %}
            <div class="alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="bg-indigo-600 rounded-lg py-1 px-3 text-white font-bold w-1/3 mt-3 transition duration-300 hover:bg-indigo-400 hover:shadow-md" type="submit">
            Sign in
        </button>

        <a class="text-gray-400 px-3" href="{{ path('app_reset_password') }}">Forgot password ?</a>
    </form>
</div>
{% endblock %}
